<IfModule mod_rewrite.c>
RewriteEngine On

# Stop processing if already in the /public directory
RewriteRule ^resources/ - [L]

# Static resources if they exist
RewriteCond %{DOCUMENT_ROOT}/public/$1 -f
RewriteRule (.+) resources/$1 [L]

# Route all other requests
RewriteRule (.*) resources/index.php?route=$1 [L,QSA]
</IfModule>